.container#tema_3

    .header-ecored
        h1 3. Importancia toma de decisiones en tiempo real

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center
        .col-12.col-lg-9.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_3/img_3_01.svg", alt="").img-fluid 
        .col-12
          p Primero se debe definir que la toma de decisiones es un proceso donde se debe elegir entre unas posibles opciones. No es fácil tomar una decisión, pero en el sector de contact center se está expuesto constantemente a esto, razón por la cual supervisores o líderes del proceso deben contar con la capacidad de análisis y experiencia. 
          p Según Prat (2004), “Normalmente, el conjunto de interacciones que podemos llevar a cabo con un entorno concreto no está unívocamente fijado. Para resolver un problema disponemos de diferentes posibilidades de acción, cada una de las cuales puede producir diferentes reacciones o acontecimientos que darán lugar a satisfacciones diferentes. Nos encontramos con una «indeterminación» de las interacciones posibles. Para actuar hay que resolver esa indeterminación. Y es necesario para ello un proceso por el que de un conjunto de interacciones posibles seleccionamos una.” (p.16)
          p El supervisor de contact center debe contemplar lo que puede suceder y contar con las capacidades y herramientas necesarias que le permitan tomar la mejor decisión ante las situaciones que se puedan presentar.

      .row
        .col-12
          p La autora Raffino (2020), propone el siguiente modelo de resolución de problemas que consta de 6 pasos  iniciando con: 

      .row.justify-content-center.align-items-center
        .col-12.col-lg-8.col-xl-7.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_3/info_3_01.svg", alt="").img-fluid 

      .row
        .col-12
          p También se debe tener en cuenta que existen inconvenientes que afectan tomar una decisión en el contact center, siendo una de ellas el miedo a la equivocación, debido que la decisión que se tome puede afectar a un más la situación, pero tener presente que al tomar una decisión existe un riesgo. No se debe limitar por experiencias anteriores, porque cada situación es diferente y además otro aspecto que se presenta en las situaciones es la falta de confianza, por lo tanto, se necesita que una persona con mayor jerarquía entregue las indicaciones, aunque el supervisor conozca las acciones, lo que manifiesta la importancia de la confianza y el acompañamiento que generen los jefes. La falta de experiencia es otro inconveniente, el desconocimiento de la operación en el contact center, puede generar que no se tomen decisiones adecuadas, es decir, no detectar el momento en que se deben tomar las acciones para cumplir con las metas. 

     

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Capacidad de análisis

      .row.justify-content-center.align-items-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_3/img_3_1_01.svg", alt="").img-fluid 
        .col-12
          p La información de las empresas es numerosa y de importancia, pero sin un análisis adecuado no tiene relevancia porque no se podrá utilizar más adelante para toma de decisiones o mejoras futuras. 
          p La información generada por el contact center es la voz del cliente, ellos   manifiestan sus sugerencias, quejas y esto ayuda a las empresas a mejorar. Después de tener la información recopilada se debe realizar el análisis.
          p Un análisis adecuado ayudará en el proceso de toma de decisiones, identificando los inconvenientes que generan un alto flujo de llamadas, permitiendo corregir el proceso de una situación y de esta manera se apoya el cumplimento de las metas. Ejemplo: inconvenientes en la facturación de un grupo de clientes, donde no es necesario tomar tiempo en el análisis de la factura de todos, porque ya fue detectada. Solo se le entregaría la solución y respuesta, con lo cual se ahorraría tiempo en la llamada y se reflejaría en el indicador TMO.

      .row.justify-content-center.align-items-center.my-6
        .col-12.col-lg-8.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/img_3_1_02.svg", alt="").img-fluid 
      .row
        .col-12
          p El supervisor o líder del proceso en el contact center analiza constantemente la información de la operación, lo que se realiza en cualquier momento, sin necesidad de esperar a que termine el día, porque se puede perder tiempo valioso. No detectar alguna anomalía o novedad en el tiempo adecuado puede perjudicar el proceso de la operación, inclusive dañar los resultados de un mes de trabajo.
          p Según el autor Villagra (2016) el análisis “puede ser llevado a cabo de manera sencilla con la ayuda de las gráficas de indicadores. El objetivo de este tipo de análisis es comprender los resultados y desempeño alcanzado en un indicador para, a partir de ello, enfocar y priorizar el tipo de acciones a realizar ya sea a través de iniciativas inmediatas o con la implementación de proyecto de mejora o de innovación”. (p.104)
          p El supervisor debe tener habilidades que le ayuden a la toma de decisiones y análisis de la información, con capacidad de encontrar y resumir datos con información requerida y necesaria, además de debatir los datos y encontrar conclusiones. No se requiere ser experto en matemáticas y manejo de Excel, pero contando con un nivel básico, le permitirá construir y manejar la información para su posterior uso, junto con el manejo de los cuadros de control como se explicó anteriormente, lo cual será importante para la gestión de su labor. 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Acciones correctivas 

      .row.justify-content-center.align-items-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_2_01.svg", alt="").img-fluid 
        .col-12
          p Una acción correctiva se toma para prevenir que alguna situación vuelva a ocurrir; son decisiones, actividades, y soluciones para la eliminación de causas potenciales y reales de un problema. Generalmente en el contact center estas acciones dependen de la gerencia.

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Acciones preventivas     

      .row.justify-content-center.align-items-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_3_01.svg", alt="").img-fluid

        .col-12
          p.mb-5 Una acción preventiva es una decisión que se realiza para evitar que se presenten situaciones no deseadas. Estas se implementan antes de las acciones correctivas. Los supervisores deben estar atentos para identificarlas y así evitar llegar a las acciones correctivas. Al realizar estas acciones preventivas se pueden garantizar los indicadores del contact center. 
          p Dependiendo de la situación y experiencia adquirida se pueden tomar las siguientes acciones: 

      .row.justify-content-center.align-item-center.mb-5
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_A.svg", alt="").img-fluid
              .card__copy
                p #[strong Monitorear indicadores]
                p.mb-0 No se debe ser confiado, la situación en el contact center puede cambiar en cualquier momento y el flujo de llamada puede cambiar. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_B.svg", alt="").img-fluid
              .card__copy
                p #[strong Implementar alarmas]
                p.mb-0 Se puede realizar la configuración para estar alerta en una situación crítica. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_C.svg", alt="").img-fluid
              .card__copy
                p #[strong Manejo de los turnos y personal]
                p.mb-0 Dependiendo del flujo de llamadas se pueden realizar cambios y asignación de horas extras en estos turnos. También se encuentran los tiempos auxiliares (baño, descanso). Es importante recalcar que estos cambios deben ser realizados cuando sea necesario. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_D.svg", alt="").img-fluid
              .card__copy
                p #[strong Asignación de agentes por skill]
                p.mb-0 Dependiendo de las capacidades de los agentes estos pueden se rotados por los diferentes skill, es decir si en un skill se encuentra un número significativo de llamadas entrantes, se puede asignar agentes de otra campaña donde el flujo es mínimo o se encuentren agentes disponibles, lo cual permite garantizar los niveles de servicio y atención. Allí radica la importancia de tener agentes multiskill. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_E.svg", alt="").img-fluid
              .card__copy
                p #[strong Preturnos]
                p.mb-0 Son reuniones, charlas antes de iniciar el turno que ayudan al agente a tener los conocimientos claros y actualizados. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_F.svg", alt="").img-fluid
              .card__copy
                p #[strong Manejo de mensajes de emergencia]
                p.mb-0 En los contact center por ocasiones se pueden generar volumen de llamadas muy altos e inusuales, generalmente cuando esto  sucede  se debe a daños, interrupciones, fallas, errores en los servicios o productos, que cuando son identificados  se recomienda  programar un mensaje donde se explique la situación,  que el    cliente o usuario escuchará y se  evitará que sea atendido por un agente y  además la espera del cliente en la línea por el alto flujo de llamadas, controlando el nivel de servicio. 
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_3/icon_3_3_G.svg", alt="").img-fluid
              .card__copy
                p #[strong Monitoreo en línea]
                p.mb-0 Se logran detectar falencias inmediatamente durante la llamada, minimiza los errores y tiempo en la línea. 

      .row.mb-5
        .col-12
          .jumbotron.mb-0          
            p.mb-0 Generalmente estas acciones se encuentran implementadas en los planes de contingencia que maneje cada contact center.  Se debe resaltar que para ejecutar las acciones anteriores se debe tener cuidado con la comunicación.
      .row.mb-5
        .col-12
          p Según Publishing (2007)."en toda comunicación el propósito fundamental es el de influir en los receptores del mensaje para que piensen o actúen en de una determinada forma o para que descarten o cambien bien las ideas que tienen o las acciones que ejecutan. Esta proposición general describe cuál debe ser el espíritu que debe caracterizar las comunicaciones que se realizan con el propósito de que se implanten las decisiones: influir. Para lograr ese propósito, los empresarios y directivos pueden utilizar cuatro posibles vías:

      .row      
        .col-12.mb-3.px-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La persuasión, con el fin de convencer a los receptores del mensaje de que acepten las ideas (decisiones) que se les transmiten. 
        .col-12.mb-3.px-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Las órdenes, que implica que los subordinados deben cumplir las instrucciones precisas que le llegan desde los niveles superiores. 
        .col-12.mb-3.px-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La información, con el fin de suministrar a los receptores del mensaje los datos que estos necesitan para comprender y auto-convencerse de las bondades de la decisión que se le comunica. 
        .col-12.mb-5.px-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Una combinación de las tres vías anteriores.

        .col-12.mb-5
          p De todas ellas, el método menos eficaz es el que recurre a las órdenes; es posible que se logre el cumplimiento de lo ordenado, pero no la implicación y colaboración abierta, espontánea y decidida del personal.” (pp. 230- 231)

        .col-12
          .jumbotron.mb-5
            .row.justify-contente-center.align-items-center
              .col-auto
                img(src="assets/images/pages/tema_3/icon_3_3_01.svg", alt="",style="width:70px")
              .col
                p.mb-0 El supervisor se encuentra en la capacidad de tomar las acciones que considere para garantizar los niveles o indicadores del contact center. Por tal razón, se debe verificar que se logran o lograron los objetivos o meta esperados.

          